# phpMyAdmin on docker が便利すぎる https://qiita.com/furu8ma/items/50718efebee20fd24517

version: '3.7'

services:
    mysql:
        image: mysql:5.7
        volumes:
          - "./mysql:/var/lib/mysql"
        environment:
          - MYSQL_ROOT_PASSWORD=password

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        environment:
          - PMA_ARBITRARY=1
          - PMA_HOST=mysql
          - PMA_USER=root
          - PMA_PASSWORD=password
        links:
          - mysql
        ports:
           - 8080:80
        volumes:
           - /sessions